body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(asset/163885.jpg);
}
header {
    background-color: #17213C;
    color: #47AD97;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.company-name {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    flex-grow: 1;
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav a {
    color: #47AD97;
    text-decoration: none;
    margin: 0 10px;
}
.main {
    text-align: center;
    background-color: #17213C ;
    height: 500px;
    padding: 5px;
    border-radius: 30px;
    margin-top: 30px; 
    margin-bottom: 90px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main h1{
    margin-top: 10px;
    margin-left: 0px;
    color: #fff;
}
.main .input{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 70px;
    margin-right: 100px;
    color: #fff;
}
.main .btn{
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    background: #47AD97;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #17213C;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 500px;
  }
  .btn a{
    text-decoration: none;
    color: #17213C;
}
footer {
    background-color: #17213C;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-left,
.footer-right {
    flex: 1;
}
.footer-center {
    flex: 2;
}
.social-media {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.social-media img {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}